<template>
	<view class="detail">
		<u-sticky>
			<Header @goBack="_goBack" @goHome="_goHome" :isSearch="false" :detailTitle="titles" />
		</u-sticky>
		<view class="videos">
			<video id="video" :src="info.video" :autoplay="true" controls object-fit="contain"></video>
		</view>
		<!-- 倒计时 -->
		<view class="tab">
			<view class="item">
				<view class="icon">
					<image src="../../static/images/money.png" mode=""></image>
				</view>
				<view class="title">{{info.classify}}</view>
			</view>
			<view class="item">
				<view class="icon">
					<image src="../../static/images/map-marker.png" mode=""></image>
				</view>
				<view class="title">{{info.region}}{{info.address}}</view>
			</view>
			<view class="item item-copy">
				<view class="copy" @click="clickCopy">(点击复制)</view>
				<view class="title" id="copyTitle" ref="copyTxt">编号：{{info.id}}</view>
			</view>
		</view>
		<view class="timeWrap">
			<view class="endTime" style="margin-left: 80rpx; color: #000;">
				<text style="font-weight: bold;">状态：</text>
				<text style="color: red;" v-if="info.end_time">{{info.end_time}}</text>
				<text class="idle" v-if="info.end_time" style="color: #fca60b;">空闲</text>
				<text class="idle" v-if="!info.end_time && !info.is_idle">空闲</text>
				<text class="idle" v-if="!info.end_time && info.is_idle == 1" style="color: red;">忙碌</text>
			</view>
			<view class="endTime" :style="{marginLeft: info.end_time ? '20rpx': '124rpx', color: '#000'}"><text style="font-weight: bold;">配套：</text>
			<block v-for="item in info.peitao" :key="item">
				<text class="peitao" v-if="item" :style="{background:sitecolor}">{{item}}</text></block>
			</view>
		</view>
		<section style="background-color:#c9e546;display:flex;align-items:center">
			<section style="display:flex;height:20px;align-items:center;padding:0 30px 0 0" :style="{'background-color':sitecolor}">
				<section style="flex-shrink:0;padding:0 5px">
					<section
						style="box-sizing:border-box;width:8px;height:8px;border-radius:100%;background-color:#ffffff">
					</section>
				</section>
				<section style="font-size:12px;color:#ffffff;text-align:left;padding:0 6px">更多视频图片欣赏</section>
			</section>
			<section style="flex-shrink:0;display:flex;align-items:center">
				<section
					style="box-sizing:border-box;width:0;height:1px;
					border-top:10px solid transparent;
					border-bottom:10px solid transparent"  :style="{'border-left':`7px solid ${sitecolor}`}">
				</section>
				<section>
					<section
						style="box-sizing:border-box;width:6px;height:10px;transform:skew(30deg)"  :style="{'background-color':sitecolor}">
					</section>
					<section
						style="box-sizing:border-box;width:6px;height:10px;transform:skew(-30deg)"  :style="{'background-color':sitecolor}">
					</section>
				</section>
			</section>
		</section>
		<view class="content">
			<u-parse :content="info.content"></u-parse>
		</view>
		<u-back-top :scroll-top="scrollTop"></u-back-top>
	</view>
</template>

<script>
	import Header from "@/components/Header/index.vue"
	import {
		getDetail
	} from "@/api/index.js"
	export default {
		name: "detail",
		components: {
			Header
		},
		data() {
			return {
				sitecolor:getApp().globalData.sitecolor,
				id: "",
				info: {},
				scrollTop: 0,
				titles:"",
				timer:'',
				pagefrom:''
			}
		},
		onShow() {
			
		},
		onLoad(options) {
			const {id,pagefrom=''} = options
			console.log('you zou ma ')
			this.id = id;
			this.pagefrom = pagefrom;
			
			console.log('auth -> ' + this.$Cache.get('auth'))
			let sourceUrl = '/pages/detail/index?id='+this.id + '&pagefrom='+this.pagefrom
			console.log('sourceUrl -> '+sourceUrl)
			if(this.$Cache.get('auth') !== 'true'){
				this.$Cache.set('url', sourceUrl)
				uni.navigateTo({
					url: '/pages/pwd/index'
				})
			}
			
			this.getDetailAPI();
			this.timer = setInterval(() => {
				this.getDetailAPI();
			}, 10000)
		},
		onUnload() {
			clearInterval(this.timer)
		},
		onPageScroll(e) {
			this.scrollTop = e.scrollTop;
		},
		methods: {
			async getDetailAPI() {
				let res = await getDetail(this.id, this.pagefrom);
				// 如果资源是下架状态，则提示404
				if (res.data.status != 1 && this.pagefrom != 'backend') {
					location.href = '/404'
					return false
				}
				this.info = res.data;
				this.titles = `${res.data.title} ${res.data.classify} (${res.data.id})`
				this.info.peitao = this.info.pz_list ? this.info.pz_list.split(' ') : []
				console.log(res);
				
				// let password = this.$Cache.get('password');
				// this.$Cache.get('password');
				// if (password) this.$Cache.set('password', password, 10800);
				
				// let token = this.$Cache.get('token');
				// if (token) this.$Cache.set('token', token, 10800);
				
			},
			clickCopy() {
				let input = document.createElement("input");
				input.value = document.getElementById('copyTitle').innerText;
				document.body.appendChild(input);
				input.select();
				document.execCommand("Copy");
				document.body.removeChild(input);
				uni.showToast({
					icon: "success",
					title: "复制成功"
				})
			},
			_goBack() {
				uni.navigateBack()
			},
			_goHome() {
				uni.reLaunch({
					url: '/pages/index/index'
				})
			}
		}
	}
</script>

<style scoped lang="less">
	.detail {
		width: 100%;
		height: 100%;

		#video {
			width: 100%;
		}

		.videos {
			width: 100%;
			height: 100%;
		}

		.tab {
			width: 100%;
			height: 90rpx;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
			border-top: 1px solid #f7f7f7;
			border-bottom: 1px solid #f7f7f7;

			.item {
				width: calc(100% / 3);
				height: 100%;
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: center;

				.icon {
					width: 52rpx;
					height: 52rpx;
					background-color: #a6ecbf;
					border-radius: 50%;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;

					image {
						width: 24rpx;
						height: 24rpx;
					}
				}

				.title {
					font-size: 24rpx;
					padding-left: 10rpx;
				}

				.copy {
					color: #36a8ff;
					font-size: 24rpx;
				}
			}

			.item-copy {
				flex-direction: column;
			}
		}

		.timeWrap {
			width: 100%;
			height: 50rpx;
			background: #fff;
			
			line-height: 50rpx;
			font-size: 12px;
			display: flex;
			// justify-content: space-around;
			justify-content: flex-start;

			.endTime {
				color: orangered;
			}

			.idle {
				padding-left: 5px;
				color: #27c24c;

			}
			.peitao{
				background: rgb(88, 119, 255);
				color: #fff;
				margin-left: 10rpx;
				padding: 2rpx 6rpx;
			}
		}

		.content {
			width: 100%;
			height: 100%;
			overflow-x: hidden;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	/deep/.u-sticky {
		top: 0 !important;
	}
</style>
