<style type="text/css">
    .sm-st {
        background: #fff;
        padding: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 20px;
    }

    .sm-st-icon {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background: #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        color: #fff;
    }

    .sm-st-info {
        padding-top: 2px;
    }

    .sm-st-info span {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }

    .orange {
        background: #fa8564 !important;
    }

    .tar {
        background: #45cf95 !important;
    }

    .sm-st .green {
        background: #86ba41 !important;
    }

    .pink {
        background: #AC75F0 !important;
    }

    .yellow-b {
        background: #fdd752 !important;
    }

    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }

    .stat-info {
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: -5px;
        padding: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
        font-style: italic;
    }

    .stat-icon {
        text-align: center;
        margin-bottom: 5px;
    }

    .st-red {
        background-color: #F05050;
    }

    .st-green {
        background-color: #27C24C;
    }

    .st-violet {
        background-color: #7266ba;
    }

    .st-blue {
        background-color: #23b7e5;
    }

    .stats .stat-icon {
        color: #28bb9c;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        float: left;
    }

    .stat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    .stat .value {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }

    .stat .name {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px 0;
    }

    .stat.lg .value {
        font-size: 26px;
        line-height: 28px;
    }

    .stat-col {
        margin:0 0 10px 0;
    }
    .stat.lg .name {
        font-size: 16px;
    }

    .stat-col .progress {
        height: 2px;
    }

    .stat-col .progress-bar {
        line-height: 2px;
        height: 2px;
    }

    .item {
        padding: 30px 0;
    }


    #statistics .panel {
        min-height: 150px;
    }

    #statistics .panel h5 {
        font-size: 14px;
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <!--{:build_heading(null, false)}-->

        <!--<ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">{:__('Dashboard')}</a></li>
            <li><a href="#two" data-toggle="tab">{:__('Custom')}</a></li>
        </ul>-->
        <div class="panel-lead"><h1>公告信息</h1>{$site.announcement}</div>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">


                <div class="row" style="margin-top:15px;" id="statistics">

                    <div class="col-lg-12">
                    </div>



                     <div class="col-xs-6 col-md-3">
                        <a class="btn-dialog" href="{:url('resources/add')}" title="添加资源">
                        <div class="panel bg-teal-gradient no-border">
                            <div class="panel-body">
                                <div class="ibox-title">
                                    <span class="label label-primary pull-right">{:__('Real time')}</span>
                                    <h5>点击添加资源</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h1 class="no-margins">添加资源</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>




                    <div class="col-xs-6 col-md-3">
                        <div class="panel bg-blue-gradient no-border">
                            <div class="panel-body">
                                <div class="panel-title">
                                    <span class="label label-primary pull-right">{:__('Real time')}</span>
                                    <h5>账号过期剩余时间</h5>
                                </div>
                                <div class="panel-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h1 class="no-margins" id="tobaccoTime1">{$totalworkingaddon}</h1>
                                            <!--<div class="font-bold"><i class="fa fa-magic"></i>
                                                <small>{:__('Working addon count tips')}</small>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        //启动定时器
                        var nowtime =100
                        nowtime = setInterval(() => {
                            var expire_time='{$expire_time}';
                            if(expire_time>1){
                                getTime(expire_time)
                            }else{
                                document.getElementById('tobaccoTime1').innerHTML = '无限制'
                                //清除定时器
                                clearInterval(nowtime);
                            }
                        }, 1000)

                        function getTime(expire_time) {
                            let date1 = new Date();
                            let date2=(expire_time+'000')-date1;
                            //计算出相差天数
                            let days=Math.floor(date2/(24*3600*1000))
                            //计算出小时端
                            let leave1=date2%(24*3600*1000)//计算分钟数后剩余的毫秒数
                            let hours=Math.floor(leave1/(3600*1000))
                            //计算相差分钟数
                            let leave2=leave1%(3600*1000)//计算分钟数后剩余的毫秒数
                            let minutes=Math.floor(leave2/(60*1000))
                            //计算相差秒数
                            let leave3=leave2%(60*1000)//计算分钟数后剩余的毫秒数
                            let seconds=Math.round(leave3/1000)
                            document.getElementById('tobaccoTime1').innerHTML = days+" 天"+hours+" 小时"+minutes+" 分钟"+seconds+" 秒"
                            //console.log(date2)
                            /*let date1 = new Date()
                            let year = date1.getFullYear()
                            let month = date1.getMonth()
                            let day = date1.getDate()
                            let xinqi = date1.getDay()
                            let w = ['日', '一', '二', '三', '四', '五', '六']
                            let hh = date1.getHours()
                            let mm = date1.getMinutes()
                            let ss = date1.getSeconds()
                            //let date = year + "年" + (month + 1) + "月" + day + "日   星期" + xinqi + "  " + hh + ":" + mm + ":" + ss
                            let date = year + '年' + (month + 1) + '月' + day + '日'
                            //let  week = "星期" +xinqi //星期6
                            let week = '星期' + w[xinqi] //星期六
                            let realTime = hh + ':' + mm + ':' + ss
                            //document.getElementById('tobaccoTime1').innerHTML = date
                            //document.getElementById('tobaccoTime2').innerHTML = week
                            document.getElementById('tobaccoTime1').innerHTML = realTime
                            console.log(date,week,realTime) ;
                            //最终得到时间 2022年11月24日 星期四 16:10:45*/
                        }

                    </script>

                   

                </div>
            </div>
            <div class="tab-pane fade" id="two">
                <div class="row">
                    <div class="col-xs-12">
                        {:__('Custom zone')}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
