<template>
	<view class="list-wrap">
		<view class="list-box">
			<view class="list" v-for="(item,index) in list" :key="index" @click="clickItme(item)">
				<view class="banner">
					<image :src="item.cover" mode=""></image>
					<view class="hot" v-if="item.is_recommend != 0">推荐</view>
				</view>
				<view class="title">
					<text>{{item.title}} {{item.classify}}</text>
					<view >
						<block v-for="it in getPeitao(item.pz_list)" :key="it">
						<text class="peitao" v-if="it">{{it}}</text></block>
					</view>
				</view>
				<!-- <view class="endTime">{{item.end_time}}</view> justify-content: flex-end-->
				<view class="tips" style="margin-top: 10rpx;" >
					<text class="endTime tips-l" style="color: red;" v-if="item.end_time">{{item.end_time}}</text>
					<view class="tips-r" v-if="item.end_time" style="color: #fca60b;">空闲</view>
					<view class="tips-r" v-if="!item.end_time && !item.is_idle" style="width: 100%; text-align: right;">空闲</view>
					<view class="tips-r" v-if="!item.end_time && item.is_idle==1" style="color: red; width: 100%; text-align: right;" >忙碌</view>
				</view>
				<view class="remarks" v-if="item.remarks">{{item.remarks}}</view>
				<view class="tips tips-wrap">
					<view class="tips-l" style=" text-align: left;margin-right:10rpx;">{{item.region}} {{item.address}}</view>
					<view class="tips-l" style="text-align: right;margin-right: 10rpx;flex-shrink: 0;">编号：{{item.ru_rid}}</view>
				</view>
			</view>
		</view>
		<view class="more">
			<u-loadmore :status="status" />
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			list: {
				type: Array,
				default: []
			},
			page: {
				type: Number,
				default: 0
			},
			status: {
				type: String,
				default: ""
			}
		},
		data() {
			return {}
		},
		mounted() {
			
		},
		methods: {
			clickItme(item) {
				this.$emit('clickItmes', item)
			},
			getPeitao(item){
				return item ? item.split(' ') : []
			}
		}
	}
</script>

<style scoped lang="less">
	.list-wrap {
		width: 100%;
		height: 100%;

		.list-box {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			.list {
				width: 49%;
				height: 100%;
				margin-top: 20rpx;
				background: #fff;
				border-radius: 6px;
				box-shadow: 0rpx 5rpx 5rpx 0rpx rgba(0, 0, 0, 0.2);

				.banner {
					width: calc(100% - 20rpx);
					height: 407rpx;
					overflow: hidden;
					border-radius: 4px;
					margin: 20rpx auto;
					overflow: hidden;
					position: relative;

					image {
						width: 100%;
						height: 100%;
					}

					.hot {
						width: 105rpx;
						height: 33rpx;
						background: red;
						position: absolute;
						top: 4px;
						right: -14px;
						color: #fff;
						font-size: 24rpx;
						text-align: center;
						transform: rotate(45deg);

					}
				}

				.title {
					// height: 68rpx;
					padding-left: 20rpx;
					font-size: 26rpx;
					font-family: PingFang SC;
					font-weight: 500;
					color: #333333;
					display: flex;
					justify-content: space-between;
					.endTime {
						font-family: PingFang SC;
						font-size: 12px;
						color: red;
						padding-left: 5px;
					}
					.peitao{
						background: rgb(201, 229, 70);
						color: #fff;
						margin-right: 10rpx;
						padding: 2rpx 4rpx;
						font-size: 12px;
					}
				}

				

				.remarks {
					height: 32rpx;
					padding-left: 20rpx;
					font-size: 24rpx;
					color: #999999;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					-o-text-overflow: ellipsis;
					margin-bottom: 7px;
				}

				.tips {
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					justify-content: space-between;
					font-size: 24rpx;
					padding-left: 20rpx;
					margin-bottom: 10rpx;

					.tips-l {
						width: calc(100% - 100rpx);
						color: #999999;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						-o-text-overflow: ellipsis;

					}

					.tips-r {
						color: #27c24c;
						padding-right: 20rpx;
					}
				}

			}
		}

		.more {
			padding-top: 20rpx;
			padding-bottom: 20rpx;
		}
	}
</style>
