<style>
    .hiddens{
        display: none;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input  data-rule="required" class="form-control" name="row[title]" type="text" value="">
            <input type="hidden" name="row[mid]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">分类:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[category_id]">
                {foreach name="categoryList" item="vo"}
                <option value="{$vo.id}">{$vo.category_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <!--<div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">编号:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[number]" type="text" value="" disabled>
        </div>
    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">区域:</label>
        <div class="col-xs-12 col-sm-8">
            <select data-rule="required" class="form-control selectpicker" name="row[area_id]">
                {foreach name="areaList" item="vo"}
                <option value="{$vo.id}">{$vo.area_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">资源配套信息:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_checkboxs('row[pz_id][]', $pzList);}
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">房东信息:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[info]" cols="66"  rows="3"></textarea>
        </div>
    </div>
    <!--<div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">地址:</label>
        <div class="col-xs-12 col-sm-8">
            <input  data-rule="required" class="form-control" name="row[address]" type="text" value="">
        </div>
    </div>-->
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">评价:</label>
        <div class="col-xs-12 col-sm-8">
            <input  class="form-control" name="row[remarks]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">倒计时结束时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control " id="datePicker"
                   type="text"
                    autocomplete="off"
                   name="row[end_time]"
                   placeholder="请选择时间">
        </div>
    </div>
    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">封面:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="35" name="row[cover]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-image" class="btn btn-danger faupload" data-multipart={"folder":"compress"} data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <!-- <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span> -->
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-vediofile" class="control-label col-xs-12 col-sm-2">视频:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-vediofile" class="form-control" size="35" name="row[video]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-vediofile" class="btn btn-danger faupload" data-input-id="c-vediofile" data-mimetype="mp4,mp3,avi,flv,wmv,mov" data-multiple="false" data-preview-id="p-vediofile"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <!-- <span><button type="button" id="fachoose-vediofile" class="btn btn-primary fachoose" data-input-id="c-vediofile" data-mimetype="mp4,mp3,avi,flv,wmv" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span> -->
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-vediofile"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">内容:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-img_list" class="form-control" size="50" name="row[img_list]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-img_list" class="btn btn-danger plupload" data-input-id="c-img_list" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-img_list"><i class="fa fa-upload"></i> 上传多图</button></span>
                    <!-- <span><button type="button" id="fachoose-img_list" class="btn btn-primary fachoose" data-input-id="c-img_list" data-mimetype="*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span> -->
                </div>
                <span class="msg-box n-right" for="c-img_list"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-img_list"></ul>
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">是否置顶:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control" id="is_top" name="row[is_top]">
                <option value="0">否</option>
                <option value="1">是</option>
            </select>
        </div>
    </div>
    <!-- {in name='$gid' value='2'}hiddens{/in} -->
    <div class="form-group">
        <label for="is_recommend" class="control-label col-xs-12 col-sm-2">是否推荐:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control" id="is_recommend"  name="row[is_recommend]">
                <option value="0">否</option>
                <option value="1">是</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="status" class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control" id="status" name="row[status]">
                <option value="0">下架</option>
                <option value="1">上架</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="is_idle" class="control-label col-xs-12 col-sm-2">忙碌:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control" id="is_idle" name="row[is_idle]">
                <option value="0">空闲</option>
                <option value="1">忙碌</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn" id="addData">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<style>
        input[type="checkbox"] {
            width: 18px;
            height: 18px;
        }
        .radio > label > input, .checkbox > label > input {
            margin: 0px;
         }
    </style>
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/laydate/laydate.js"></script>
<script>
    laydate.render({
        elem: '#datePicker'
        ,type: 'datetime'
    });
    $('#addData').on('click', function (){
        var title=$('input[name="row[title]"]').val();
        var category_id=$('select[name="row[category_id]"] option:selected').val();
        var area_id=$('select[name="row[area_id]"] option:selected').val();
        var boxes = document.getElementsByTagName("input");
        var pz_id=[];
        for(i=0;i<boxes.length;i++){
            if(boxes[i].checked == true){
                pz_id.push(boxes[i].value)
            }
        }
        var remarks=$('input[name="row[remarks]"]').val();
        var end_time=$('input[name="row[end_time]"]').val();
        var cover=$('input[name="row[cover]"]').val();
        var video=$('input[name="row[video]"]').val();
        var img_list=$('input[name="row[img_list]"]').val();
        var is_top=$('select[name="row[is_top]"] option:selected').val();
        var is_recommend=$('select[name="row[is_recommend]"] option:selected').val();
        var is_idle=$('select[name="row[is_idle]"] option:selected').val();
        var status=$('select[name="row[status]"] option:selected').val();
        if(!title.length){
            layer.msg("请选择名称");
            return false;
        }
        if(!category_id.length){
            layer.msg("请选择分类");
            return false;
        }
        if(!area_id.length){
            layer.msg("请选择区域");
            return false;
        }
        $.ajax({
            url: './resources/findName',
            type:"POST",
            dataType:'json',
            data: {
                title: title,
            },
            success: function (data) {
                var status=data.code;
                if(status==400){
                    Layer.confirm('资源名称已存在,确认提交吗', {
                        btn: ['确认','取消'] //按钮
                    }, function(){
                        saveData()
                    }, function(){
                        Fast.api.close(0);
                    });
                }else{
                    saveData()
                }
            }
        });
    });
    function saveData(){
        var mid=$('input[name="row[mid]"]').val();
        var title=$('input[name="row[title]"]').val();
        var category_id=$('select[name="row[category_id]"] option:selected').val();
        var area_id=$('select[name="row[area_id]"] option:selected').val();
        var boxes = document.getElementsByTagName("input");
        var pz_id=[];
        for(i=0;i<boxes.length;i++){
            if(boxes[i].checked == true){
                pz_id.push(boxes[i].value)
            }
        }
        var remarks=$('input[name="row[remarks]"]').val();
        var end_time=$('input[name="row[end_time]"]').val();
        var cover=$('input[name="row[cover]"]').val();
        var video=$('input[name="row[video]"]').val();
        var img_list=$('input[name="row[img_list]"]').val();
        var is_top=$('select[name="row[is_top]"] option:selected').val();
        var is_recommend=$('select[name="row[is_recommend]"] option:selected').val();
        var is_idle=$('select[name="row[is_idle]"] option:selected').val();
        var status=$('select[name="row[status]"] option:selected').val();
        var info=$('textarea[name="row[info]"]').val();
        if(!title.length){
            layer.msg("请选择名称");
            return false;
        }
        if(!category_id.length){
            layer.msg("请选择分类");
            return false;
        }
        if(!area_id.length){
            layer.msg("请选择区域");
            return false;
        }
        $.ajax({
            url: './resources/saveResources',
            type: "POST",
            dataType: 'json',
            data: {
                mid: mid,
                title: title,
                category_id: category_id,
                area_id: area_id,
                pz_id: pz_id,
                remarks: remarks,
                end_time: end_time,
                cover: cover,
                video: video,
                img_list: img_list,
                is_top: is_top,
                is_recommend: is_recommend,
                is_idle: is_idle,
                status: status,
                info: info,
            },
            success: function (data) {
                if(data.code==200){
                    //layer.msg("成功");
                    layer.msg("成功！", {icon:1, time:1000});
                    setTimeout(function () {
                        window.parent.location.reload();
                    }, 2000);
                }else{
                    layer.msg("失败！", {icon:2, time:1000});
                    //layer.msg("失败");
                }
            }
        })
    }
</script>
