<div class="panel-body">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="one">
            <div class="widget-body no-padding">
                <div id="toolbar" class="toolbar">
                    {if condition="$gid neq 1"}
                        {:build_toolbar('refresh,add')}
                    {else/}
                        {:build_toolbar('refresh,add,edit,del')}
                    {/if}
                    {if condition="$gid eq 1"}
                        <button type="button" class="btn btn-success batchSet1">一键设置下架</button>
                        <button type="button" class="btn btn-success batchSet2">一键设置上架</button>
                    {else/}
                        <!--<a href="javascript:;" class="btn btn-success" id="setUrlBtn">生成链接</a> -->
                    {/if}

                    <!--<div class="dropdown btn-group {:$auth->check('resources/multi')?'':'hide'}">
                        <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                        <ul class="dropdown-menu text-left" role="menu">
                            <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                            <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                        </ul>
                    </div>-->
                </div>
                {if condition="$gid eq 2"}
                <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                       width="100%">
                </table>
                {else/}
                <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                       data-operate-edit="{:$auth->check('resources/edit')}"
                       data-operate-del="{:$auth->check('resources/del')}"
                       width="100%">
                </table>
                {/if}

            </div>
        </div>

    </div>
</div>
</div>