<form id="set_generate_url-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="row[number]" value="{$params['number']}" id="number"/>
    <input type="hidden" name="row[title]" value="{$params['title']}" id="title"/>
    <input type="hidden" name="row[category]" value="{$params['category']}" id="category"/>
    <input type="hidden" name="row[area]" value="{$params['area']}" id="area"/>
    <input type="hidden" name="row[status]" value="{$params['status']}" id="status"/>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">域名url:</label>
        <div class="col-xs-12 col-sm-8">
            <!--<select id="c-type" data-rule="required" class="form-control selectpicker" name="row[url]">
                {foreach name="urlList" item="vo"}
                <option value="{$vo.url}">{$vo.url}</option>
                {/foreach}
            </select>-->
            {foreach name="urlList" item="vo"}
                <input type="checkbox" name="row[url][]" value="{$vo.url}" checked="checked" data-rule="checked" >{$vo.url}
            {/foreach}

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">过期时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control datetimepicker"
                   data-date-format="YYYY-MM-DD HH:mm:ss"
                   data-use-current="true"
                   autocomplete="off"
                   type="text"
                   name="row[end_time]"
                   placeholder="请选择时间">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-xs-12 col-sm-2">查看密码:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="password" name="row[password]" autocomplete="new-password" value="" data-rule="required;password" />
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>