<template>
	<view class="header" :class="isSearch ? 'header' : 'header detail-header'" :style="{background:`${sitecolor} !important`}">
		<view class="header-box">
			<template v-if="isSearch">
				<view class="icon" @click="_nextPage">
					<image src="../../static/images/home.png" mode=""></image>
				</view>
				<view class="searchs">
					<u-search  placeholder="搜索编号,名称" v-model="value" :showAction="false"></u-search>
				</view>
				<view class="btn">
					<u-button type="success"  text="搜索" size="mini" shape="circle" @click="handleClick"></u-button>
				</view>
			</template>
			<template v-else>
				<view class="icon" @click="_nextPage">
					<image src="../../static/images/back.png" mode=""></image>
				</view>
				<view class="detailTitle">{{detailTitle}}</view>
				<view class="goHome" @click="_goHome">
					<image src="../../static/images/de-home.png" mode=""></image>
				</view>
			</template>
			
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			isSearch:{
				type:Boolean,
				default:true
			},
			detailTitle:{
				type:String,
				default:""
			}
		},
		data() {
			return {
				sitecolor:getApp().globalData.sitecolor,
				value: "",
			}
		},
		methods: {
			_nextPage() {
				this.$emit('goBack')
			},
			_goHome(){
				this.$emit('goHome')
			
			},
			handleClick() {
				this.$emit('_clickSearch', this.value);
			}
		}
	}
</script>

<style scoped lang="less">
	.detail-header{
		background: rgb(95, 108, 225) !important;
		margin: 0 auto !important;
	}
	.header {
		width: 100%;
		height: 80rpx;
		margin: auto;
		overflow: hidden;
		background: #fff;

		&-box {
			width: calc(100% - 50rpx);
			height: 100%;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
			margin: auto;

			.icon {
				width: 36rpx;
				height: 36rpx;
				overflow: hidden;

				image {
					width: 100%;
					height: 100%;
				}
			}

			.searchs {
				width: calc(100% - 180rpx);
			}
			.detailTitle{
				text-align: center;
				color: #fff;
			}
			.goHome{
				width: 36rpx;
				height: 36rpx;
				overflow: hidden;
				
				image {
					width: 100%;
					height: 100%;
				}
			}
		}

	}
</style>
