<form id="set_generate_url-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">域名url:</label>
        <div class="col-xs-12 col-sm-8">
            {foreach name="urlList" item="vo"}
            <span style="margin-right: 15px;"><input type="checkbox" name="row[url][]" value="{$vo.url}">
                {$vo.url}</span>
            {/foreach}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">过期时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" id="datePicker" type="text" autocomplete="off" name="row[end_time]"
                data-rule="required" placeholder="请选择时间">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-xs-12 col-sm-2">查看密码:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="password" name="row[password]" autocomplete="new-password"
                value="" data-rule="required;password" />
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script src="/assets/libs/laydate/laydate.js"></script>
<script>
    laydate.render({
        elem: '#datePicker'
        , type: 'datetime'
    });
</script>