<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    {:token()}

    <input type="hidden" name="row[mid]" value="{$row.id}"/>

    <div class="form-group">

        <label class="control-label col-xs-12 col-sm-2">过期时间:</label>

        <div class="col-xs-12 col-sm-8">

            <input class="form-control" id="datePicker"

                   type="text"

                   name="row[end_time]"
                   autocomplete="off"

                   value="{$row['end_time']}"

                   placeholder="请选择时间">

        </div>

    </div>

    <div class="form-group" style="display: none">

        <label for="password" class="control-label col-xs-12 col-sm-2">url:</label>

        <div class="col-xs-12 col-sm-8">

            <input type="text" class="form-control" id="url" name="row[url]" value="{$row['url']}"/>

        </div>

    </div>

    <div class="form-group">

        <label for="password" class="control-label col-xs-12 col-sm-2">查看密码:</label>

        <div class="col-xs-12 col-sm-8">

            <input type="text" class="form-control" id="password" name="row[password]" autocomplete="new-password" value="{$row['pwd']}" data-rule="required;password" />

        </div>

    </div>

    <div class="form-group">

        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>

        <div class="col-xs-12 col-sm-8">

            {:build_radios('row[status]', ['1'=>__('Normal'), '0'=>__('Hidden')], $row['status'])}

        </div>

    </div>

    <div class="form-group layer-footer">

        <label class="control-label col-xs-12 col-sm-2"></label>

        <div class="col-xs-12 col-sm-8">

            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>

            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>

        </div>

    </div>

</form>


<script src="/assets/libs/laydate/laydate.js"></script>

<script>
    laydate.render({
        elem: '#datePicker'
        ,type: 'datetime'
    });

</script>