<template>
	<view class="error">
		<view class="error-box">
			<u-empty mode="page" icon="../../static/images/404.png" textColor="#333" width="250" height="250">
			</u-empty>
			<view class="btns">
				<u-button type="primary" text="重新加载" :style="{background:sitecolor,borderColor:sitecolor}"></u-button>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				sitecolor:getApp().globalData.sitecolor,
			}
		},
		onLoad() {
			uni.clearStorageSync();
		}
	}
</script>

<style scoped lang="less">
	.error {
		width: 100%;
		height: 100%;
		&-box{
			.btns{
				width: calc(100% - 60rpx);
				margin: 40rpx auto;
			}
		}
	}
</style>
