



<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">



    {:token()}



    <div class="form-group">



        <label  class="control-label col-xs-12 col-sm-2">名称:</label>



        <div class="col-xs-12 col-sm-8">



            <input  data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title}">



            <input type="hidden" name="row[mid]" value="{$row.rid}"/>



            <input type="hidden" name="row[mid2]" value="{$row.id}"/>



        </div>



    </div>



    <div class="form-group">



        <label for="c-type" class="control-label col-xs-12 col-sm-2">分类:</label>



        <div class="col-xs-12 col-sm-8">







            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[category_id]">



                {foreach name="categoryList" item="vo"}



                <option value="{$vo.id}" {in name="$vo.id" value="$row.category_id"}selected{/in}>{$vo.category_name}</option>



                {/foreach}



            </select>



        </div>



    </div>



    <div class="form-group">



        <label for="c-pid" class="control-label col-xs-12 col-sm-2">区域:</label>



        <div class="col-xs-12 col-sm-8">


            <select id="c-pid" data-rule="required" class="form-control selectpicker" name="row[area_id]">



                {foreach name="areaList" item="vo"}



                <option value="{$vo.id}" {in name="$vo.id" value="$row.area_id"}selected{/in}>{$vo.area_name}</option>



                {/foreach}



            </select>







        </div>



    </div>



    <div class="form-group">



        <label class="control-label col-xs-12 col-sm-2">资源配套信息:</label>



        <div class="col-xs-12 col-sm-8">



            {:build_checkboxs('row[pz_id][]', $pzList,$row.pz_id);}



        </div>



    </div>



    <div class="form-group">



        <label  class="control-label col-xs-12 col-sm-2">房东信息:</label>



        <div class="col-xs-12 col-sm-8">



            <textarea name="row[info]" cols="66"  rows="3">{$row.info}</textarea>



        </div>



    </div>



    <div class="form-group">



        <label  class="control-label col-xs-12 col-sm-2">评价:</label>



        <div class="col-xs-12 col-sm-8">



            <input class="form-control" name="row[remarks]" type="text" value="{$row.remarks}">



        </div>



    </div>



    <div class="form-group">



        <label class="control-label col-xs-12 col-sm-2">倒计时结束时间:</label>



        <div class="col-xs-12 col-sm-8">



            <input class="form-control " id="datePicker"

                    autocomplete="off"

                   type="text"

                   name="row[end_time]"


                   value="{$row.end_time}"

                   placeholder="请选择时间">



        </div>



    </div>



    



    <div class="form-group">



        <label for="c-image" class="control-label col-xs-12 col-sm-2">封面:</label>



        <div class="col-xs-12 col-sm-8">



            <div class="input-group">



                <input id="c-image" class="form-control" size="35" name="row[cover]" type="text" value="{$row.cover}">



                <div class="input-group-addon no-border no-padding">



                    <span><button type="button" id="faupload-image" class="btn btn-danger faupload" data-multipart={"folder":"compress"} data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>



                    <!-- <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span> -->



                </div>



                <span class="msg-box n-right"></span>



            </div>



            <ul class="row list-inline faupload-preview" id="p-image"></ul>



        </div>



    </div>



    <div class="form-group">



        <label for="c-vediofile" class="control-label col-xs-12 col-sm-2">视频:</label>



        <div class="col-xs-12 col-sm-8">



            <div class="input-group">



                <input id="c-vediofile" class="form-control" size="35" name="row[video]" type="text" value="{$row.video}">



                <div class="input-group-addon no-border no-padding">



                    <span><button type="button" id="faupload-vediofile" class="btn btn-danger faupload" data-input-id="c-vediofile" data-mimetype="mp4,mp3,avi,flv,wmv,mov" data-multiple="false" data-preview-id="p-vediofile"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>



                    <!-- <span><button type="button" id="fachoose-vediofile" class="btn btn-primary fachoose" data-input-id="c-vediofile" data-mimetype="mp4,mp3,avi,flv,wmv" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span> -->



                </div>



                <span class="msg-box n-right"></span>



            </div>



            <ul class="row list-inline faupload-preview" id="p-vediofile"></ul>



        </div>



    </div>



    <div class="form-group">



        <label class="control-label col-xs-12 col-sm-2">内容:</label>



        <div class="col-xs-12 col-sm-8">



            <div class="input-group">



                <input id="c-img_list" class="form-control" size="50" name="row[img_list]" type="text" value="{$row.content}">



                <div class="input-group-addon no-border no-padding">



                    <span><button type="button" id="plupload-img_list" class="btn btn-danger plupload" data-input-id="c-img_list" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-img_list"><i class="fa fa-upload"></i> 上传多图</button></span>



                    <!-- <span><button type="button" id="fachoose-img_list" class="btn btn-primary fachoose" data-input-id="c-img_list" data-mimetype="*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span> -->



                </div>



                <span class="msg-box n-right" for="c-img_list"></span>



            </div>



            <ul class="row list-inline plupload-preview" id="p-img_list"></ul>



        </div>



    </div>



    <div class="form-group">



        <label  class="control-label col-xs-12 col-sm-2">是否置顶:</label>



        <div class="col-xs-12 col-sm-8">



            <select class="form-control" id="is_top" name="row[is_top]">



                <option value="0" {in name="0" value="$row.is_top|htmlentities"} selected="selected" {/in}>否</option>



                <option value="1" {in name="1" value="$row.is_top|htmlentities"} selected="selected" {/in}>是</option>



            </select>



        </div>



    </div>



    <div class="form-group">



        <label for="is_recommend" class="control-label col-xs-12 col-sm-2">是否推荐:</label>



        <div class="col-xs-12 col-sm-8">

            <select class="form-control" id="is_recommend"  name="row[is_recommend]">



                <option value="0" {in name="0" value="$row.is_recommend|htmlentities"} selected="selected" {/in}>否</option>



                <option value="1" {in name="1" value="$row.is_recommend|htmlentities"} selected="selected" {/in}>是</option>



            </select>







        </div>



    </div>



    <div class="form-group">

        <label for="status" class="control-label col-xs-12 col-sm-2">状态:</label>

        <div class="col-xs-12 col-sm-8">

            <select class="form-control" id="status" name="row[status]">

                <option value="0" {in name="0" value="$row.status|htmlentities"} selected="selected" {/in}>下架</option>

                <option value="1" {in name="1" value="$row.status|htmlentities"} selected="selected" {/in}>上架</option>

            </select>

        </div>



    </div>



    <div class="form-group">

        <label for="is_idle" class="control-label col-xs-12 col-sm-2">忙碌:</label>

        <div class="col-xs-12 col-sm-8">

            <select class="form-control" id="is_idle" name="row[is_idle]">

                <option value="0" {in name="0" value="$row.is_idle|htmlentities"} selected="selected" {/in}>空闲</option>

                <option value="1" {in name="1" value="$row.is_idle|htmlentities"} selected="selected" {/in}>忙碌</option>

            </select>

        </div>

    </div>



    <!-- <div class="form-group">



        <label class="control-label col-xs-12 col-sm-2"></label>



        <div class="col-xs-12 col-sm-8">



            <button type="button" class="btn" id="addData">{:__('OK')}</button>



            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>



        </div>



    </div> -->



    <div class="form-group layer-footer">



        <label class="control-label col-xs-12 col-sm-2"></label>



        <div class="col-xs-12 col-sm-8">



            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>



            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>



        </div>



    </div>



</form>







<style>



        input[type="checkbox"] {



            width: 18px;



            height: 18px;



        }



        .radio > label > input, .checkbox > label > input {



            margin: 0px;



         }



    </style>

<script src="/assets/libs/laydate/laydate.js"></script>

<script>
    laydate.render({
        elem: '#datePicker'
        ,type: 'datetime'
    });

</script>

