<div class="panel-body">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="one">
            <div class="widget-body no-padding">

                <div id="toolbar" class="toolbar">
                    {:build_toolbar('refresh')}
                    {if condition="$gid eq 1"}
                    {/if}
                    <a class="btn btn-success btn-dialog" href="{:url('/resources/add')}">新增</a>
                    <button type="button" class="btn btn-success batchSet1">批量设置下架</button>
                    <button type="button" class="btn btn-success batchSet2">批量设置上架</button>
                </div>
                <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                       data-operate-edit="{:$auth->check('resources/edit')}"
                       width="100%">
                </table>
            </div>
        </div>

    </div>
</div>
</div>