<form id="set_generate_url-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="row[rid]" value="{$params['rid']}" id="rid"/>
    <!--<div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">域名url:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[url]">
                {foreach name="urlList" item="vo"}
                <option value="{$vo.url}">{$vo.url}</option>
                {/foreach}
            </select>
        </div>
    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">域名url:</label>
        <div class="col-xs-12 col-sm-8">
            <!--<select id="c-type" data-rule="required" class="form-control selectpicker" name="row[url]">
                {foreach name="urlList" item="vo"}
                <option value="{$vo.url}">{$vo.url}</option>
                {/foreach}
            </select>-->
            {foreach name="urlList" item="vo"}
            <input type="checkbox" name="row[url][]" value="{$vo.url}" checked="checked" data-rule="checked" >{$vo.url}
            {/foreach}

        </div>
    </div>
    <!--<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <label class="control-label col-xs-4">编号</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" name="row[number]" value="{$params.number}" placeholder="编号" id="number" data-index="2">
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <label class="control-label col-xs-4">标题</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" name="row[title]" value="{$params.title}" placeholder="标题" id="title" data-index="3">
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <label class="control-label col-xs-4">分类</label>
        <div class="col-xs-8">
            <select class="form-control" name="row[category]">
                <option value="">选择</option>
                {foreach name="categoryList" item="vo"}
                <option value="{$vo.id}" {in name="$vo.id" value="$params.category"}selected{/in}>{$vo.category_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <label class="control-label col-xs-4">区域</label>
        <div class="col-xs-8">
            <select class="form-control" name="row[area]">
                <option value="">选择</option>
                {foreach name="areaList" item="vo"}
                <option value="{$vo.id}" {in name="$vo.id" value="$params.area"}selected{/in}>{$vo.area_name}</option>
                {/foreach}
            </select>
        </div>
    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">过期时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control datetimepicker"
                   data-date-format="YYYY-MM-DD HH:mm:ss"
                   data-use-current="true"
                   data-rule="required"
                   type="text"
                   autocomplete="off"
                   name="row[end_time]"
                   placeholder="请选择时间">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-xs-12 col-sm-2">查看密码:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="password" class="form-control" id="password" name="row[password]" autocomplete="new-password" value="" data-rule="required;password" />
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>