<script>
	import {
		getConfig
	} from "@/api/index.js"
	
	export default {
		globalData: {  
			sitecolor: '',
			isAllowWechat:1,
		},  
		async onLaunch() {
			// let token = uni.getStorageSync('token')
			// if (!token) {
			// 	uni.reLaunch({
			// 		url: '/pages/error/404'
			// 	})
			// }
			let res = await getConfig()
			if (res.statusCode == 200) {
				if (res.data.links && res.data.links.length) {
					let url = res.data.links.find(item => item.url.indexOf(location.host) > -1)
					if (!url && process.env.NODE_ENV != 'development') {
						window.location.href = '/404'
						return false
					}
				}

				document.title = res.data.sitename;
				getApp().globalData.sitecolor = res.data.sitecolor
				// uni.setStorageSync('isAllowWechat', res.data.isAllowWechat)
				this.$Cache.set('isAllowWechat', res.data.isAllowWechat, 86400)
			}
			console.log('获取配置文件', res)

			let token = this.$Cache.get('token')
			if (!token) {
				uni.navigateTo({
					url: '/pages/pwd/index'
				})
			};
			
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>


<style lang="scss">
/* 注意要写在第一行，同时给style标签加入lang="scss"属性 */
@import "uview-ui/index.scss";
</style>
