<template>
	<view class="pwd">
		<view class="title" :style="{background:sitecolor}">访问认证</view>
		<view class="pops">
			<view class="content">
				<view class="content-title">请输入访问密码</view>
				<view class="content-pwd">
					<view class="content-pwd-box">
						<view class="numInput">{{value1}}</view>
						<view class="numInput">{{value2}}</view>
						<view class="numInput">{{value3}}</view>
					</view>
				</view>
				<!-- 键盘 -->
				<view class="fingerboard">
					<view class="fingerboard-box">
						<view class="list" v-for="(item,index) in list" :key="index" @click="_clickNum(item.num)">
							<view class="num">{{item.num}}</view>
							<view class="typ">{{item.tips}}</view>
						</view>
						<view class="list list-active"></view>
						<view class="list list-num" @click="_clickzero">0</view>
						<view class="list list-active" @click="_deletNum">
							<image class="list-img" src="../../static/images/delete.png" mode=""></image>
						</view>
					</view>
				</view>
			</view>
		</view>

		<view v-if="isWeChatTips" class="wechat-tips">
			<image src="../../static/images/wechattips.jpg" class="wechat-tips-img" mode="widthFix"></image>
		</view>
	</view>
</template>

<script>
	import {
		verifyPassword
	} from "@/api/index.js"
	import md5 from "@/utils/md5.js";
	import {
		isWeChat
	} from "@/utils/utils.js";
	export default {
		name: "pwd",
		data() {
			return {
				sitecolor: getApp().globalData.sitecolor,
				show: false,
				value1: "",
				value2: "",
				value3: "",
				list: [{
					num: "1",
					tips: "-"
				}, {
					num: "2",
					tips: "ABC"
				}, {
					num: "3",
					tips: "DEF"
				}, {
					num: "4",
					tips: "GHI"
				}, {
					num: "5",
					tips: "JKL"
				}, {
					num: "6",
					tips: "DEF"
				}, {
					num: "7",
					tips: "PQRS"
				}, {
					num: "8",
					tips: "TUV"
				}, {
					num: "9",
					tips: "WXYZ"
				}],
				isWeChatTips: false,

				locationUrl: '',
			}
		},
		onLoad() {
			this.locationUrl = this.$Cache.get('url')

			this.sitecolor = getApp().globalData.sitecolor;
			console.log('是否是微信访问', isWeChat())
			this.isWeChatTips = this.$Cache.get('isAllowWechat') == 2 && isWeChat()
		},
		methods: {
			_clickNum(num) {
				if (!this.value1) {
					this.value1 = num;
				} else if (!this.value2) {
					this.value2 = num;
				} else {
					this.value3 = num;
					this._verifyPassword();
				}
			},
			_deletNum() {
				if (this.value3) {
					this.value3 = "";
				} else if (this.value2) {
					this.value2 = "";
				} else {
					this.value1 = "";
				}
			},
			_clickzero() {
				if (!this.value1) {
					this.value1 = '0';
				} else if (!this.value2) {
					this.value2 = '0';
				} else {
					this.value3 = '0';
					this._verifyPassword();
				}
			},
			// 验证
			async _verifyPassword() {
				let param = {
					password: `${this.value1}${this.value2}${this.value3}`
				}
				let res = await verifyPassword(param);
				if (res.statusCode == 200) {
					uni.setStorageSync('isLode', '1');
					// uni.setStorageSync('password', );
					// this.$Cache.set('password', md5.hex_md5(res.data.auth), 7200)
					this.$Cache.set('password', res.data.auth, 43200);
					this.$Cache.set('token', res.data.auth, 43200);
					this.$Cache.set('auth', 'true')

					uni.showToast({
						icon: 'none',
						title: '验证成功',
						duration: 2000
					});
					setTimeout(() => {
						// location.href = window.location.origin;
						location.href = '/#' + this.locationUrl
					}, 2000)
				} else if (res.statusCode == 2005) {
					uni.showToast({
						icon: 'none',
						title: res.msg,
						duration: 2000
					});
					this.$Cache.clear('token')
					this.$Cache.clear('password')
				} else {
					console.log('---', res)
					uni.showToast({
						icon: 'none',
						title: "密码错误",
						duration: 2000
					});
				}

			}
		}

	}
</script>

<style scoped lang="less">
	.pwd {
		width: 100%;
		height: 100vh;
		background: #fff;
		position: relative;

		.title {
			width: 100%;
			height: 80rpx;
			background: #5f6ce1;
			text-align: center;
			color: #fff;
			font-weight: 550;
			line-height: 80rpx;
		}

		.pops {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, .2);
		}

		.content {
			height: auto;
			position: fixed;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: #ffffff;

			.content-title {
				text-align: center;
				font-size: 28rpx;
				line-height: 84rpx;
			}

			.content-pwd {
				height: 109px;
				background: #f4f4f4;
				overflow: hidden;

				.content-pwd-box {
					width: 272rpx;
					margin: 68rpx auto auto auto;
					display: flex;
					flex-wrap: nowrap;

					.numInput {
						width: 84rpx;
						height: 84rpx;
						background: #fff;
						border: 1px solid #d0d0d0;
						text-align: center;
						line-height: 84rpx;
						font-size: 50rpx;
					}

					.numInput:nth-child(1) {
						border-right: none;
					}

					.numInput:nth-child(2) {
						border-right: none;
					}
				}
			}

			.fingerboard {
				width: 100%;
				height: 100%;
				background: #d2d5db;
				overflow: hidden;

				.fingerboard-box {
					width: calc(100% - 25rpx);
					margin: auto;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: space-between;
					margin-top: 20rpx;
					margin-bottom: 20rpx;

					.list {
						width: 30%;
						height: 84rpx;
						margin: 10rpx auto;
						background: #ffffff;
						border-radius: 16rpx;
						font-size: 36rpx;
						text-align: center;
						box-shadow: 0rpx 5rpx 5rpx 0rpx rgba(0, 0, 0, 0.2);
						cursor: pointer;

						.typ {
							font-size: 12px;
						}
					}

					.list-active {
						background: #d2d5db;
						box-shadow: none;
					}

					.list-num {
						line-height: 84rpx;
					}

					.list-img {
						background: #d2d5db;
						box-shadow: none;
						width: 42rpx;
						height: 30rpx;
						margin-top: 12%;
					}
				}
			}
		}

		.pwdkey {
			width: 400rpx;
			height: 400rpx;
		}

		.wechat-tips {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background: #666;
			z-index: 10000;
		}

		.wechat-tips-img {
			width: 100%;
		}
	}
</style>