<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}

    <div class="form-group">
        <label for="c-nickname" class="control-label col-xs-12 col-sm-2">域名url:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nickname" data-rule="required" class="form-control" name="row[url]" type="text" value="{$row.url|htmlentities}">
            <input type="hidden" name="row[mid]" value="{$row.id}"/>
        </div>
    </div>
    <!-- <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Areasort')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[weigh]" type="text" value="{$row.dl_uid|htmlentities}">
        </div>
    </div> -->
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">关联代理:</label>
        <!-- {$row.dl_uid} -->
        <div class="col-xs-12 col-sm-8">
            {foreach name="dlLists" item="vo"}
            <input type="checkbox" name="row[dl_uid][]" value="{$vo.id}" {in name="$vo.id" value="$row.dl_uid|htmlentities"} checked="checked" {/in}>{$vo.nickname}
            {/foreach}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['1'=>__('Normal'), '0'=>__('Hidden')], $row['status'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
