<div class="panel-body">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="one">
            <div class="widget-body no-padding">
                <div id="toolbar" class="toolbar">
                    {:build_toolbar('refresh,add,edit,del')}
                    <!--<div class="dropdown btn-group {:$auth->check('category/multi')?'':'hide'}">
                        <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                        <ul class="dropdown-menu text-left" role="menu">
                            <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                            <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                        </ul>
                    </div>-->
                </div>
                <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                       data-operate-edit="{:$auth->check('weburl/edit')}"
                       data-operate-del="{:$auth->check('weburl/del')}"
                       width="100%">
                </table>
            </div>
        </div>

    </div>
</div>
</div>