<template>
	<view class="content">
		<u-sticky>
			<!-- 滚动消息 -->
			<u-notice-bar :text="text1"></u-notice-bar>
			<!-- 顶部导航 -->
			<Header @_clickSearch="clickSearch" @goBack="_goBack" />
			<!-- 筛选 -->
			<zb-dropdown-menu style="width: 100%" active-color="#1989fa">
				<zb-dropdown-item name="type" :options="option1" v-model="value1" @change="change1"></zb-dropdown-item>
				<zb-dropdown-item name="area" :options="option2" v-model="value2" @change="change2"></zb-dropdown-item>
				<zb-dropdown-item name="recommend" :options="option3" v-model="value5" @change="change3">
				</zb-dropdown-item>
				<zb-dropdown-item name="news" :options="option4" v-model="value4" @change="change4"></zb-dropdown-item>
			</zb-dropdown-menu>
		</u-sticky>
		<!-- 列表 -->
		<view class="content-list">
			<list :list="list" :page="total" :status="status" @clickItmes="_clickItmes" />
		</view>
		<u-back-top :scroll-top="scrollTop"></u-back-top>

		<view v-if="isWeChatTips" class="wechat-tips">
			<image src="../../static/images/wechattips.jpg" class="wechat-tips-img" mode="widthFix"></image>
		</view>
	</view>
</template>

<script>
import Header from "@/components/Header/index.vue"
import list from "./components/list.vue"
import { isWeChat } from "@/utils/utils.js";
import {
	getList,
	getNotice
} from '@/api/index.js'
export default {
	components: {
		Header,
		list
	},
	name: "home",
	data() {
		return {
			text1: 'Hello',
			value1: 0,
			value2: 0,
			value5: 0,
			value4: 0,
			list: [],
			total: 0,
			scrollTop: 0,
			timer: '',
			param: {
				page: 1,
				classify: null,
				region: null,
				recommend: 0,
				new: 0
			},
			status: "nomore",
			option1: [{
				text: '分类',
				value: 0
			},],
			option2: [{
				text: '区域',
				value: 0
			},],
			option3: [
				{
					text: '筛选',
					value: 0
				},
				// {
				// 	text: '好评推荐',
				// 	value: 1
				// },
			],
			option4: [

				{
					text: '上新',
					value: 0
				},
				{
					text: '今日上新',
					value: 1
				},
				{
					text: '3日上新',
					value: 2
				},
			],
			isWeChatTips: false,
		}
	},
	onShow() {
		// if(uni.getStorageSync('isLode') && uni.getStorageSync('isLode') == '1'){
		// 	this.getUrl();
		// }
		console.log('执行了');
		console.log('auth -> ' + this.$Cache.get('auth'))
		if(this.$Cache.get('auth') !== 'true'){
			this.$Cache.set('url', '/pages/index/index')
			uni.navigateTo({
				url: '/pages/pwd/index'
			})
		}
		this.getUrl();
	},
	onInit(){
		console.log('onInit')
	},
	onUnload() {
		clearInterval(this.timer)
	},
	onLoad() {
		console.log('onLoad')
		this.isWeChatTips = this.$Cache.get('isAllowWechat') == 2 && isWeChat()
		// this.getUrl();
		if (!this.isWeChatTips) {
			this.getNoticeApi();
			this.timer = setInterval(() => {
				if (this.list.length) {
					let newList = [...this.list];
					newList.forEach(item => {
						if (item.end_time != '') {
							console.log('有执行这个吗', this.getEndTime(item.end_time_original))
							item.end_time = this.getEndTime(item.end_time_original);
						}
					})
					console.log('newList', newList)
					this.$set(this, 'list', [...newList])
				}
			}, 30000)
		}
	},
	onPageScroll(e) {
		this.scrollTop = e.scrollTop;
	},
	onReachBottom() {
		if (this.list.length >= this.total) {
			this.status = 'nomore';
			return
		};
		this.status = 'loading';
		this.param.page = ++this.param.page;
		this.getUrl();
	},
	methods: {
		getEndTime($endTime) {
			let $return = '';
			let $nowtime = parseInt(new Date().getTime() / 1000);
			console.log('时间对比', $endTime, $nowtime)
			if ($endTime > $nowtime) {
				let $time = $endTime - $nowtime;
				let $day = $time > 86400 ? Math.floor($time / 86400) : 0;
				$time -= $day * 86400;
				let $hour = $time > 3600 ? Math.floor($time / 3600) : 0;
				$time -= $hour * 3600;
				let $minute = $time > 60 ? Math.floor($time / 60) : 0;
				$return = ($day ? $day + '天' : '') + ($hour ? $hour + '时' : '') + ($minute ? $minute + '分' : '');
			}
			return $return ? $return + '后' : '';
		},
		// 获取通知
		async getNoticeApi() {
			let {
				classify,
				notice,
				region,
				pzList
			} = await getNotice();
			this.text1 = notice;
			let arr = []
			let arr2 = []
			let arr3 = []
			for (let i in classify) {
				arr.push({
					text: classify[i].name,
					value: classify[i].id
				})
			}
			for (let i in region) {
				arr2.push({
					text: region[i].name,
					value: region[i].id
				})
			}
			for (let i in pzList) {
				arr3.push({
					text: pzList[i].name,
					value: pzList[i].id
				})
			}
			this.option1.push(...arr);
			this.option2.push(...arr2)
			this.option3.push(...arr3)
		},
		_clickItmes({
			id
		}) {
			uni.navigateTo({
				url: `/pages/detail/index?id=${id}`
			})
		},
		_goBack() {
			window.location.reload();
		},
		_next() {
			uni.navigateTo({
				url: '/pages/hell/index'
			})
		},
		arrayUnique: function (arr, key) {
			// 缓存用于记录
			const newArr = []
			for (const t of arr) {
				console.log('key---', key)
				// 检查缓存中是否已经存在
				if (newArr.find((c) => c[key] == t[key])) {
					// 已经存在说明以前记录过，现在这个就是多余的，直接忽略
					continue
				}
				// 不存在就说明以前没遇到过，把它记录下来
				newArr.push(t)
			}

			// 记录结果就是过滤后的结果
			return newArr
		},
		async getUrl() {
			let { data } = await getList(this.param);
			console.log("data.data.length==>", data)
			if (data.statusCode == 200) {
				console.log("data.data.length==>", data.data.length)
				this.list = this.arrayUnique([...this.list, ...data.data], 'id');
				this.total = data.total
				
				if (this.list.length == data.total || (this.param.page != 1 && data.total == 0) || data.totalPages == data.currentPage) {
					this.status = 'nomore';
				} else {

					// this.list = this.arrayUnique([...data.data, ...this.list], 'number');
					
					// this.list = [...this.list, ...data.data];
					
					uni.setStorageSync('isLode', '2');
					
					console.log('this.list ',this.list)
					// this.$set(this, 'list', [...this.list])
				}

				// let password = this.$Cache.get('password');
				// if (password) this.$Cache.set('password', password, 10800);

				// let token = this.$Cache.get('token');
				// if (token) this.$Cache.set('token', token, 10800);

			}
		},
		// 搜索
		clickSearch(val) {
			this.param.value = val;
			this.param.page = 1;
			this.list = [];
			this.getUrl();
		},
		change1() {
			console.log('fenlei', this.value1)
			// if (this.option1[this.value1].text == '分类') {
			// 	this.param.classify = ''
			// } else {
			// 	this.option1.find(item => item.value == thi)
			// }
			// 分类
			this.param.classify = this.value1 == 0 ? '' : this.value1;

			this.param.page = 1;
			this.list = [];
			this.getUrl();
		},
		change2() {
			// 区域
			this.param.region = this.value2 == 0 ? '' : this.value2;
			this.param.page = 1;
			this.list = [];
			this.getUrl();
		},
		change3() {
			this.param.recommend = this.value5;
			this.param.page = 1;
			this.list = [];
			this.getUrl();
		},
		change4() {
			this.param.new = this.value4;
			this.param.page = 1;
			this.list = [];
			this.getUrl();
		},
	}
}
</script>

<style lang="less" scoped>
.content {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background: #f7f7f7;

	&-list {
		width: calc(100% - 25rpx);
		// height: calc(100vh - 125rpx);
		// overflow: auto;
		margin: auto;
	}
}

/deep/.u-sticky {
	top: 0 !important;
}

.wechat-tips {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #666;
	z-index: 10000;
}

.wechat-tips-img {
	width: 100%;
}
</style>
